html, body {
  height: 100vh;
  width: 100%;
  background: #595959;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

#chess {
  width: 352px;
  height: 352px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -176px;
  margin-top: -176px;
}

.black {
  background: #363636;
  width: 40px;
  height: 40px;
  color: white;
  transform: rotate(180deg);
  border: #000 solid 1px;
}

.white {
  background: #e2e2e2;
  width: 40px;
  height: 40px;
  color: black;
  transform: rotate(180deg);
  border: #fff solid 1px;
}

.a,.b,.c,.d,.e,.f,.g,.h {
  float: left;
  transform: rotate(180deg);
  transform-origin: top bottom;;
}

/* Borders and little stuff */

#h1 {
  border-bottom-right-radius: 5%;
}

#a8 {
  border-top-left-radius: 5%;
}

#h8 {
  border-top-right-radius: 5%;
}

#a1 {
  border-bottom-left-radius: 5%;
}

img {
  width: 40px;
  cursor: pointer;
  position: absolute;
}

h1, ul {
  color: white;
  text-align: center;
  font-family: helvetica, arial;
  list-style-type: none;
  margin-right: 15px;
}

li {
  text-align: center;
  margin-right: 20px;
}
